.content {
  text-align: center;
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 10px;
  background-color: aliceblue;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 25px;
  color: blueviolet;
}

.todo-list {
  background-color: aqua;
  width: 250px;
  text-align: left;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.todo-list ul li {
  width: 70%;
  list-style-type: none;
  padding-left: 0px;
  color: blueviolet;
  margin-bottom: 5px;
  padding: 3px;
  border-bottom: 1px solid blueviolet;
}

.todo-list ul li:hover {
  cursor: pointer;
  color: red;
}

.add-item {
  margin: 30px;
}

.add-item input {
  border-radius: 5px;
  color: blueviolet;
  margin-bottom: 5px;
  border: none;
  display: block;
}

.add-item button {
  width: 60px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: blueviolet;
  color: white;
  font-size: 10px;
  padding: 5px;
}
